aux=haskell-tutorial.aux
aux=haskell.aux
htmldir=html/
refs=tutrefs
morerefs=reportrefs
files= intro.verb
files= goodies.verb
files= functions.verb
files= patterns.verb
files= classes.verb
files= moretypes.verb
files= io.verb
files= stdclasses.verb
files= monads.verb
files= numbers.verb
files= modules.verb
files= pitfalls.verb
files= arrays.verb
files= end.verb
files= haskell-tutorial.bbl

index=html/indextutorial.html

~style=<body bgcolor="#ffffff">
~top=<a href="index.html">top</a>
~id=<body bgcolor="#ffffff"><i>A Gentle Introduction to Haskell, Version 98</i><br>
~footer=<hr>~id<a href="~prev.html">back</a> <a href="~next.html">next</a> ~top
~sfooter=<hr>~id<a href="~next.html">next</a> ~top
~efooter=<hr>~id<a href="~prev.html">back</a> ~top
~header=~style ~id<a href="~prev.html">back</a> <a href="~next.html">next</a> ~top<hr>
~sheader=~style ~id<a href="~next.html">next</a> ~top<hr>
~eheader=~style ~id<a href="~prev.html">back</a> ~top<hr>
~indexHeader=<title>Haskell 98 Index</title><hr>~style <h3>Gentle Intro: Index</h3><hr>
